html {
    background: green;
}

.columns {
    display: flex;
    margin-top: 50px;
}

h1 {
    color: whitesmoke;     
    font-size: 30px;
    font-weight: bold;
    
}

h2 {
    color: whitesmoke;
    margin-bottom: 20px;
    
}

#mapid {
    display: flex;
    height: 500px;

}

.userform .zip {
    height: 30px;
    width: 100%;
}

.userform #submit {
    height: 30px;
}

li { 
    font-size: 18px;
}

.suggestions {
    background-image: linear-gradient( orange, yellow);
    font-family: fantasy;
    color: black;
}

.suggestions .address {
    font-weight: bold;
    font-size:large;
    font-style: italic;
}

.suggestions .name {
    font-size: x-large;
    color: red;

}

#search {
    color: whitesmoke;
}