html {
    background: green;
}

.columns {
    display: flex;
    margin-top: 50px;
}

h1 {
    color: whitesmoke;     
    font-size: 30px;
    font-weight: bold;
    
}

h2 {
    color: whitesmoke;
    
}

#mapid {
    display: flex;
    height: 500px;

}

.userform .zip {
    height: 30px;
    width: 100%;
}

.userform #submit {
    height: 30px;
}

li { 
    font-size: 18px;
}

.results {
    background-image: linear-gradient( orange, yellow);
    margin-top: 15px;
    font-family: fantasy;
    color: black;
}

.results .zipcode {
    font-weight: bold;
    font-size: larger;
}

.results .name {
    color: red;
}