body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: blue;
    color: #fff;
    padding: 50px 0;
  }

.container {
    width: 80%;
    max-width: 1050px;
    margin-left: 0 auto;
}

h1 {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 70px;
}

p {
    margin-top: 10px;
}
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black; 
}

.flex-outer li {
    margin-top: 9px;
}

.flex-inner {
    margin-left: -40px;
    margin-top: -20px;
}

#message {
    margin-top: -3px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 320px;

}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: -10px;
    padding: 8px 16px;
    border-style: solid;
    background: white;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: .09em;
    border-radius: 2px;
  }

.flex-inner li {
    width: 100px;
    padding: 8px 16px;
}

.flex-inner {
    justify-content: space-between;
  }